.DS_Store
.venv/
__pycache__/
test_sample.mp3
server_port.txt
whisper_gui_prefs.json
dist/
build/
*.spec.bak
/WhisperServer.spec
/WhisperHotkey.spec
whisper_hotkey_gui_prefs.json
whisper_hotkey_prefs.json
whisper_hotkey.log
whisper_server.log
assets/AppIcon.iconset/
